* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
}

.App {
  color: white;
}

.dark {
  background-color: darkslategray;
}
.light {
  background-color: tomato;
}

header {
  padding: 1rem;
}

img {
  max-width: 100%;
}

.beasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.beast {
  width: 20%;
}

.modal {
  /* make the modal the entire screen */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* to center the text into the middle */
  display: flex;
  justify-content: center;
  align-items: center;
  /* we want to actually be able to see it */
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}
