* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
}

.App {
  height: 100vh;
  color: white;
}

.dark {
  background-color: darkslategray;
}
.light {
  background-color: tomato;
}

header {
  padding: 1rem;
}

img {
  max-width: 100%;
}

.beasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.beast {
  width: 20%;
}
